        <%= form_for(@credit) do |f| %>
            <% if @credit.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

                  <ul>
                    <% @credit.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <h1></h1>
            <div class="field">
              <%= f.hidden_field :friend_id ,:readonly => 'true' %>
            </div>
            <div class="field">
              <%= f.label :miktar %><br />
              <%= f.text_field :miktar %>
            </div>

            <div class="field">
              <%= f.label :not %><br />
              <%= f.text_area :not %>
            </div>
            <div class="field">
              <%= f.label :ver_tarih %><br />
              <%= f.date_select :ver_tarih %>
            </div>
            <div class="field">
              <%= f.label :vade_tarih %><br />
              <%= f.date_select :vade_tarih %>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>

