<h2>Listing credits</h2>

<table width="100%">
  <tr>
    <th>Friend</th>
    <th>Money</th>

    <th>Note</th>
    <th>Date</th>
    <th>Expiration date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credits.each do |credit| %>
  <tr>
    <td><% @t = Friend.find(credit.friend_id) %><%= @t.name + " " + @t.surname %></td>
    <td><%= credit.miktar %></td>

    <td><%= credit.not %></td>
    <td><%= credit.ver_tarih.to_date %></td>
    <td><%= credit.vade_tarih.to_date %></td>
    <td><%= link_to 'Show', credit %></td>
    <td><%= link_to 'Edit', edit_credit_path(credit) %></td>
    <td><%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


