<p id="notice"><%= notice %></p>

<p>
  <b>Friend:</b>
  <% g = Friend.find(@credit.friend_id) %>
  <%= g.name + "  " + g.surname %>
</p>

<p>
  <b>Money:</b>
  <%= @credit.miktar %>
</p>

<p>
  <b>Note:</b>
  <%= @credit.not %>
</p>

<p>
  <b>Date:</b>
  <%= @credit.ver_tarih.to_date %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @credit.vade_tarih.to_date %>
</p>


<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
