<table><tr><td><h2>Login</h2></td></tr>
  <tr> <td>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
    <p>Login with
    <a href="/auth/twitter" title="Login with Twitter"><img src="../assets/twitter-icon.png" alt="Twitter" width="40px" height="40px"></a> or
    <a href="/auth/facebook" title="Login with Facebook"><img src="../assets/facebook-icon.png" alt="Facebook" width="40px" height="40px"></a>
    </p><%= render "devise/shared/links" %>
  </td></tr>
</table>